/* src/css/style.css */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f7f3; /* Updated background color */
    color: #333;
}

header {
    background-color: #775532; /* Darker brown */
    color: #fff; /* White text */
    padding: 20px;
    text-align: center;
}

header img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 4px solid #fff; /* White border */
}

main {
    padding: 20px;
    max-width: 800px;
    margin: auto;
    background-color: #faf8f2; /* Lighter background */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add subtle shadow */
}

h2 {
    color: #b0823e; /* Dark golden */
}

p {
    line-height: 1.6;
    color: #555; /* Dark gray */
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

a {
    color: #9cc140; /* Green */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

 